.dhx_combo_img{
	position:absolute;
	top:3px;
	right:4px;
}

.dhx_combo_option_img{
	position:relative;
	top:1px;
	margin-left:2px;
	left:0px;
	width:18px; height:18px;
}

.dhx_combo_input {
	color:#333333;
	font-family: Arial;
	font-size: 12px;
	/*border:0px;*/
	padding: 3px 5px;
	position:absolute;
	top:0px;
}
.dhx_combo_box{
	position:relative;
	text-align:left;
	/*border:1px solid #7F9DB9;*/
	height:19px;
	_height:22px;
	overflow:hidden;
    background-color: white;
}
.dhx_combo_list{
   position:absolute;
   z-index:30;
   overflow-y:auto;
   overflow-x:hidden;
   height:100px;
   font-family: Arial;
   font-size: 9pt;
   background-color: #f5f7fa; 
   border: 1px solid #79a8f5;
}

.dhx_combo_list div{
	cursor:default;
	padding:2px 2px 2px 2px;
}
.dhx_selected_option{
	background-color: #79a8f5;
	color:white;
}

